<div class="container-pages">

  <h1>Família e membros</h1>

  <div class="card-header">
    <%= render "shared/avatar_large_family", family: @family %>
  </div>


  <% @users.each do |user|%>
    <div class="card-white">
      <% if user.photo.attached? %>
        <%= cl_image_tag user.photo.key,  class: "avatar-medium" %>
      <% else %>
        <%= image_tag "avatar_responsável.svg", class: "avatar-medium" %>
      <% end %>
      <h2><%= user.name %></h2>
    </div>
  <% end %>

  <div class="form-actions">
      <%= link_to "Voltar", :back, class: "btn btn-secondary" %>
  </div>

</div>
