<%= simple_form_for(task) do |f| %>
    <div class="form-inputs">
      <%= f.input :category, collection: Task::TASK_CATEGORIES %>
      <%= f.input :description, input_html: { :maxlength => 60 }%>
      <%= f.fields_for :schedule do |s| %>
        <%= s.input :start_time, html5: true %>
        <%= s.input :end_time, html5: true, hint: "Não preencha se quer que repita indefinidamente" %>
        <%= s.input :due_time %>
        <%= s.input :user_id, collection: current_user.family.users %>
        <%= s.input :pet_id, collection: current_user.family.pets %>
        <%= s.label "Frequencia" %>
        <%= s.select_recurring :recurring_rule, nil, allow_blank: true %>
      <% end %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
<% end %>
