<div class="container-home">
  <h1>Agendamento:</h1>
<div class="form-edit">
  <h2><%= @task.category %></h2>
  <p><%= @task.description %></p>


  <% if @task.schedule.present? %>
    <p>Pet: <%= @task.schedule.pet.name %></p>
    <p>Reponsavel: <%= @task.schedule.user.name %></p>
    <p>Data de início: <%= @task.schedule.start_time.strftime('%d/%m/%Y') %></p>
    <p>Data de término: <%= @task.schedule.end_time.strftime('%d/%m/%Y') %></p>
    <p>Horário: <%= @task.schedule.due_time.strftime('%H:%M') %></p>
  <% else %>
    <p>Nenhuma atividade registrada.</p>
  <% end %>

    <%=link_to "Voltar", main_page_path, class: "btn btn-secondary btn-lg" %>
    <%=link_to "Editar tarefa", edit_task_path(@task), class: "btn btn-primary btn-lg"  %>
    <%=link_to "Deletar tarefa", task_path(@task), data: { turbo_method: :delete, turbo_confirm: 'Você tem certeza?' }, class: "btn btn-danger btn-lg" %>
  </div>

</div>
