<div class="container">

  <h1><%= @task.category %></h1>
  <p><%= @task.description %></p>

  <h2>Agendamento:</h2>

  <% if @task.schedule.present? %>
    <p>Pet: <%= @task.schedule.pet.name %></p>
    <p>Usuário: <%= @task.schedule.user.name %></p>
    <p>Início: <%= @task.schedule.start_time %></p>
    <p>Fim: <%= @task.schedule.end_time %></p>
    <p>Horário: <%= @task.schedule.due_time %></p>
  <% else %>
    <p>Agendamento inexistente.</p>
  <% end %>

  <%=link_to "Voltar a tarefas", tasks_path  %>
  <%=link_to "Editar tarefa", edit_task_path(@task)  %>
  <%=link_to "Deletar tarefa", task_path(@task), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>

</div>
