<div class="container-pages">
  <h1>Pets da família</h1>
  <div class="card-header">
    <% if @family.photo.attached? %>
      <%= image_tag @family.photo, class: "avatar-large" %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/doohtp0fi/image/upload/v1678725327/default_avatar_x8awn9.jpg", class: "avatar-large" %>
    <% end %>
  </div>


  <% @pets.each do |pet|%>
    <%= link_to edit_pet_path(pet) do %>
      <div class="card-white">
        <% if pet.photo.attached? %>
          <%= cl_image_tag pet.photo.key,  class: "avatar-medium" %>
        <% else %>
          <%= image_tag "avatar_dog.svg", class: "avatar-medium" %>
        <% end %>
        <h2><%= pet.name %></h2>
      </div>
    <% end %>
  <% end %>
</div>
