<div class="container-pages">
  <h1>Pets da família</h1>
  <div class="card-header">
    <%= render "shared/avatar_large_family", family: @family %>
  </div>

  <% @pets.each do |pet|%>
    <%= link_to edit_pet_path(pet) do %>
      <div class="card-white">
        <% if pet.photo.attached? %>
          <%= cl_image_tag pet.photo.key,  class: "avatar-medium" %>
        <% else %>
          <%= image_tag "avatar_dog.svg", class: "avatar-medium" %>
        <% end %>
        <h2><%= pet.name %></h2>
      </div>
    <% end %>
  <% end %>

    <div class="add-pet-btn btn">
          <%= link_to new_family_pet_path(@family) do %>
            <i class="fa-solid fa-circle-plus fa-4x"></i>
          <% end %>
    </div>
    <div class="form-actions">
      <%= link_to "Voltar", :back, class: "btn btn-secondary" %>
    </div>

</div>
