<div class="container">
  <h1>Create a new family or join a family</h1>
  <h2>Create new</h2>
  <%= simple_form_for @family do |f| %>
    <div class="form-inputs">
      <%= f.input :name, placeholder: "Give a fun name to your pet family" %>
      <%#= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>
      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
  <% end %>
</div>


<div class="container">
  <h1>Create a new family or join a family</h1>
  <h2>Create new</h2>
  <%= simple_form_for @family do |f| %>
    <div class="form-inputs">
      <%= f.input :name, collection: @families, input_html: { multiple: true,
        data: {controller: "tom_select", tom_select_options_value: {tags: true}}
        } %>
      <%#= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>
      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
  <% end %>

</div>
