<div class="container">
  <div class="card-header">
    <h1>Olá, <%= @user.name %>!</h1>
    <% if @user.photo.attached? %>
      <%= image_tag @user.photo, class: "avatar-large" %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/doohtp0fi/image/upload/v1678725327/default_avatar_x8awn9.jpg", class: "avatar-large" %>
    <% end %>
  </div>

  <div class="wrap-card-white">

    <%= link_to edit_user_registration_path do %>
      <div class="card-white">
        <p><i class="fa-solid fa-user-pen"></i></p>
        <h1>Meus Dados</h1>
        <p><i class="fa-solid fa-angles-right"></i></p>
      </div>
    <% end %>

    <%= link_to root_path do %>
      <div class="card-white">
        <p><i class="fa-solid fa-paw"></i></p>
        <h1>Pets da família</h1>
        <p><i class="fa-solid fa-angles-right"></i></p>
      </div>
    <% end %>

    <%= link_to root_path do %>
      <div class="card-white">
        <p><i class="fa-solid fa-people-roof"></i></p>
        <h1>Família e Membros</h1>
        <p><i class="fa-solid fa-angles-right"></i></p>
      </div>
    <% end %>


  </div>

  <div class="w-100 d-flex justify-content-center align-items-flex-end">
    <%= link_to "Sair do app", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-secondary btn-lg w-100 rounded-4 mt-100 mb-100" %>
  </div>
</div>
