<div data-filter-pets-target="card">
  <%= calendar(number_of_days: 1, events: calendar_schedules) do |day, events|%>
    <div class="tasks-home">
      <% events_schedule, events_schedule_exceptions = events.partition { |e| e.is_a?(Schedule) } %>
        <% events_schedule.sort_by(&:due_time).each_with_index do |event, index|%>
        <%# Tasks do dia %>

        <%# Toggle bootstrap %>
          <a data-bs-toggle="collapse" href="#collapse<%= index %>" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div>
              <div class="task-card">
                <div class="task-card-icon">
                  <%= render "shared/icon_tasks", category: event.task.category %>
                </div>
                <div class="task-card-description">
                  <p><strong><%= event.task.category %></strong></p>
                  <p><%= event.task.description.truncate(35) %>.</p>
                  <%= render "shared/avatar_xs_pet", pet: event.pet %>
                </div>
                <div class="task-card-hour">
                  <p><strong><%= event.due_time.strftime('%H:%M') %></strong></p>
                  <div>
                    <%= render "shared/avatar_small_user", user: event.user %>
                  </div>
                </div>
              </div>
          </a>

          <%# Card options div %>
            <div class="collapse" id="collapse<%= index.to_s %>">
              <div class="card card-body">
                <div id="options-card">
                  <%= link_to event.task, class: "btn btn-lg" do %>
                    <i class="fa-solid fa-circle-info fa-2x"></i>
                  <% end %>
                  <%=link_to task_path(event.task), data: { turbo_method: :delete, turbo_confirm: 'Você tem certeza?' }, class: "btn btn-lg" do %>
                    <i class="fa-solid fa-trash fa-2x"></i>
                  <% end %>
                  <%=link_to edit_task_path(event.task), class: "btn btn-lg" do %>
                    <i class="fa-solid fa-pen-to-square fa-2x"></i>
                  <% end %>
                  <%= link_to task_schedule_exceptions_path(event.task, exception_date: event.start_time), data: {turbo_method: :post}, class: "btn btn-lg" do %>
                    <i class="fa-solid fa-check fa-2x"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        <% end %>

      <%# Done tasks %>
        <% events_schedule_exceptions.sort_by(&:start_time).each do |event|%>
        <%# Tasks do dia %>
          <%= link_to event.schedule.task do %>
            <div class="task-done">
              <div class="task-card">
                <div class="task-card-icon">
                  <%= render "shared/icon_tasks", category: event.schedule.task.category %>
                </div>
                <div class="task-card-description">
                  <p><strong><%= event.schedule.task.category %></strong></p>
                  <p><%= event.schedule.task.description.truncate(35) %>.</p>
                  <%= render "shared/avatar_xs_pet", pet: event.schedule.pet %>
                </div>

                <div class="done">
                  <%= "Tarefa realizada" %>
                </div>

                <div class="task-card-hour">
                  <p><strong><%= event.schedule.due_time.strftime('%H:%M') %></strong></p>
                  <div>
                    <%= render "shared/avatar_small_user", user: event.schedule.user %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
  <% end %>
</div>
