<div class="container-pages" data-controller="filter-pets">
    <h1>Lista de Tarefas</h1>
      <div class="header-home">
          <%# Pet filters %>
          <%= link_to "Todos" , root_path, data: {action: "click->filter-pets#filter"} %>
          <% @pets.each do |pet| %>
            <%= link_to root_path(query: pet.id), data: {action: "click->filter-pets#filter"} do %>
              <%= render "shared/avatar_small_pet", pet: pet %>
            <% end %>
          <% end %>
          <div class="add-pet-btn btn">
            <%= link_to new_family_pet_path(@family) do %>
              <i class="fa-solid fa-circle-plus"></i>
            <% end %>
          </div>
      </div>
  <%# Calendario %>
  <%= render "calendar", calendar_schedules: @calendar_schedules %>
</div>

<%= link_to new_task_path do %>
  <i id="sticky-btn", class="fa-solid fa-circle-plus fa-3x"></i>
<% end %>
