<div class="container-pages">
    <h1>Lista de Tarefas</h1>
      <div class="header-home">
          <% @pets.each do |pet| %>
            <%= render "shared/avatar_small_pet", pet: pet %>
          <% end %>
          <div class="add-pet-btn btn">
            <%= link_to new_family_pet_path(@family) do %>
              <i class="fa-solid fa-circle-plus"></i>
            <% end %>
          </div>
      </div>
  <div>
    <%# calendario %>

    <%= calendar(number_of_days: 1, events: @calendar_schedules) do |day, events|%>
      <div class="tasks-home">
        <% events.each do |event|%>
        <%# Tasks do dia %>
          <%= link_to event.task do %>
              <div class="task-card">
                <div class="task-card-icon">
                  <%= render "shared/icon_tasks", category: event.task.category %>
                </div>
                <div class="task-card-description">
                  <p><strong><%= event.task.category %></strong></p>
                  <p><%= event.task.description.truncate(35) %>.</p>
                  <%= render "shared/avatar_xs_pet", pet: event.pet %>
                </div>
                <div class="task-card-hour">
                  <p><strong><%= event.due_time.strftime('%H:%M') %></strong></p>
                  <div>
                    <%= render "shared/avatar_small_user", user: event.user %>
                  </div>
                </div>
              </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>

<%= link_to new_task_path do %>
  <i id="sticky-btn", class="fa-solid fa-circle-plus fa-3x"></i>
<% end %>
