<div class="container-home">
    <h1 class="h1-home">Lista de Tarefas</h1>
  <div class="header-home">
      <% @pets.each do |pet| %>
        <%= image_tag pet.photo, class: "avatar" %>
      <% end %>
      <div class="add-pet-btn btn">
        <%= link_to new_family_pet_path(@family) do %>
          <i class="fa-solid fa-circle-plus fa-spin"></i>
       <% end %>
      </div>
  </div>
  <div>
    <h1>Calendário</h1>
  </div>
  <div class="tasks-home">
      <div class="task-card">
        <div class="task-card-icon">
          <i class="fa-solid fa-pills fa-2x"></i>
        </div>
        <div class="task-card-drescription">
          <p><strong>Dar comida</strong></p>
            <p>300 gramas de ração.</p>
            <% @pets.each do |pet| %>
              <%= image_tag pet.photo, class: "avatar" %>
            <% end %>
        </div>
        <div class="task-card-hour">
          <p><strong>08:00</strong></p>
          <div class=>
              <%= image_tag "https://res.cloudinary.com/doohtp0fi/image/upload/v1678725327/default_avatar_x8awn9.jpg", class: "avatar" %>
          </div>
        </div>
      </div>
      <div class="task-card">
        <div class="task-card-icon">
          <i class="fa-solid fa-pills fa-2x"></i>
        </div>
        <div class="task-card-drescription">
          <p><strong>Dar comida</strong></p>
            <p>300 gramas de ração.</p>
            <% @pets.each do |pet| %>
              <%= image_tag pet.photo, class: "avatar" %>
            <% end %>
        </div>
        <div class="task-card-hour">
          <p><strong>08:00</strong></p>
          <div class=>
              <%= image_tag "https://res.cloudinary.com/doohtp0fi/image/upload/v1678725327/default_avatar_x8awn9.jpg", class: "avatar" %>
          </div>
        </div>
      </div>
      <div class="task-card">
        <div class="task-card-icon">
          <i class="fa-solid fa-pills fa-2x"></i>
        </div>
        <div class="task-card-drescription">
          <p><strong>Dar comida</strong></p>
            <p>300 gramas de ração.</p>
            <% @pets.each do |pet| %>
              <%= image_tag pet.photo, class: "avatar" %>
            <% end %>
        </div>
        <div class="task-card-hour">
          <p><strong>08:00</strong></p>
          <div class=>
              <%= image_tag "https://res.cloudinary.com/doohtp0fi/image/upload/v1678725327/default_avatar_x8awn9.jpg", class: "avatar" %>
          </div>
        </div>
      </div>
      <div class="task-card">
        <div class="task-card-icon">
          <i class="fa-solid fa-pills fa-2x"></i>
        </div>
        <div class="task-card-drescription">
          <p><strong>Dar comida</strong></p>
            <p>300 gramas de ração.</p>
            <% @pets.each do |pet| %>
              <%= image_tag pet.photo, class: "avatar" %>
            <% end %>
        </div>
        <div class="task-card-hour">
          <p><strong>08:00</strong></p>
          <div class=>
              <%= image_tag "https://res.cloudinary.com/doohtp0fi/image/upload/v1678725327/default_avatar_x8awn9.jpg", class: "avatar" %>
          </div>
        </div>
      </div>
  </div>
</div>
