<div class="container-pages"  data-controller="filter-pets">

  <h1>Documentos</h1>

  <%# Pet filters %>
  <div class="header-home">
      <%= link_to documents_path, class: "all-pets", data: {action: "click->filter-pets#filter"} do %>
            <div class="fa-stack" style="font-size: 1.5em">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fa-solid fa-filter-circle-xmark fa-stack-text"></i>
            </div>
      <% end %>
      <% @pets.each do |pet| %>
        <%= link_to documents_path(query: pet.id), data: {action: "click->filter-pets#filter"} do %>
          <%= render "shared/avatar_small_pet", pet: pet %>
        <% end %>
      <% end %>
  </div>

  <%# Documents %>
  <%= render "cards_document", documents: @documents %>
</div>

<%= link_to new_document_path do %>
  <i id="sticky-btn", class="fa-solid fa-circle-plus fa-3x"></i>
<% end %>

<script>
  document.querySelectorAll('.avatar-small, .all-pets').forEach((avatar) => {
    avatar.addEventListener('click', (event) => {
      document.querySelectorAll('.avatar-small').forEach((otherAvatar) => {
        if (otherAvatar !== avatar) {
          otherAvatar.classList.remove('clicked');
        }
      });
    });
  });
</script>
