<div class="container-pages"  data-controller="filter-pets">

  <h1>Documentos</h1>

  <%# Pet filters %>
  <div class="mb-4">
    <%= link_to "Todos" , documents_path, data: {action: "click->filter-pets#filter"} %>
      <% @pets.each do |pet| %>
        <%= link_to documents_path(query: pet.id), data: {action: "click->filter-pets#filter"} do %>
          <%= render "shared/avatar_small_pet", pet: pet %>
        <% end %>
      <% end %>
  </div>

  <%# Documents %>
  <%= render "cards_document", documents: @documents %>
</div>

<%= link_to new_document_path do %>
  <i id="sticky-btn", class="fa-solid fa-circle-plus fa-3x"></i>
<% end %>
