<div class="container-pages">

  <h1><%= @document.name.capitalize %></h1>

  <p><%= @document.description.capitalize %></p>

  <% if @document.files.attached? %>
    <div class= "cards">
      <% @document.files.each do |file| %>

        <div class= "task-card flex-column ">
          <%= link_to file.url, target: :_blank do %>
            <%= cl_image_tag file.key, crop: "fill", height: 150, width: 300 , gravity: "north", fetch_format: "auto", quality: "auto", background: "black" %>
          <% end %>


          <%= link_to cloudinary_url(file.key,:flags=>"attachment") do %>
            <p class= "mt-2 mb-0">Download <i class="fa-solid fa-file-arrow-down"></i></p>
          <% end %>
        </div>

      <% end %>
    </div>
  <% end %>

  <div class="card card-body">
    <div id="options-card">
      <%= link_to :back, class: "btn btn-lg" do %>
        <i class="fa-solid fa-arrow-left fa-2x" style="color: #6D6D6D;"></i>
      <% end %>
      <%=link_to document_path(@document), data: { turbo_method: :delete, turbo_confirm: 'Esta ação apaga a tarefa e suas repetições. Quer continuar?' }, class: "btn btn-lg" do %>
        <i class="fa-solid fa-trash fa-2x"></i>
      <% end %>
      <%=link_to edit_document_path(@document), class: "btn btn-lg" do %>
        <i class="fa-solid fa-pen-to-square fa-2x"></i>
      <% end %>
    </div>
  </div>

</div>
