<div class="container-pages">

  <h1><%= @document.name %></h1>

  <p><%= @document.description %></p>

  <% if @document.files.attached? %>
    <% @document.files.each do |file| %>
    <%= link_to file.url, target: :_blank do %>
      <%= cl_image_tag file.key, crop: "fill", height: 300, width: 400, fetch_format: "auto", quality: "auto" %>
    <% end %>

      <%= link_to file.url, target: :_blank do %>
        <p>Download this file <i class="fa-solid fa-file-arrow-down"></i></p>
      <% end %>



    <% end %>
  <% end %>

  <%= link_to "Editar", edit_document_path(@document)  %>
  <%=link_to "Deletar documento", document_path(@document), data: { turbo_method: :delete, turbo_confirm: 'Você tem certeza?' }, class: "btn btn-danger btn-lg" %>

</div>
