<!DOCTYPE html>
<html>
  <head>
    <title>PetFamily</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag "pet-care.png", rel: "icon", type: "image/png" %>

  </head>

  <body>
    <%= render "shared/flashes" %>

      <%= yield %>




    <div id="navbar-botton">
      <%= render "shared/navbar" unless hide_navbar? %>
    </div>
  </body>
</html>
